.bottom {
  height: 253px;
  padding-top: 80px;
  display: flex;
}

.bottom-list {
  margin-left: 77px;
  display: flex;
}

.bottom-list ul {
  margin-right: 120px;
}

.bottom-list ul li {
  font-family: Raleway-Bold;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 14px;
}
